ms-mint==0.3.1
xlsxwriter
waitress
dash
dash[diskcache]
dash_extensions
dash_bootstrap_components
flask_login
urllib3
dash_tabulator
dash_uploader==0.7.0a1
Flask-Caching
flask_migrate
flask_wtf
email_validator
Flask-Caching==1.10.1
beautifulsoup4
pandas
packaging==21.3.0
beautifulsoup4
brotlipy
wget
werkzeug==3.0.1  # Werkzeug2.3.1 destroys uploaded chunked files
